#entirePage {
  background-color: #f6f6f6;
  /* height: 100%; */
}
/* About Me Section */
#introduce {
  color: #3C3E41;
  font-weight: bold;
  position: relative;
  text-align: center;
}
#about {
  padding-top: 8em;
  padding-left: 12em;
  width: 50%;
  padding-bottom: 3em;
  /* border-bottom: solid darkgray; */
}
#hi{
  float: left;
}
#name{
  float: left;
  padding-left: 0.30em;
}
#a {
  float: left;
  /* align-self: end; */
}

#textAnimation {
  float: left;
  padding-left: 0.50em;
}
#halfshot {
  position: absolute;
  top: 6em;
  right: 12em;
}

/* SKILLS SECTION */
#skillsSection {
  padding-top: 2.5em;
  padding-left: 1em;
  text-align: center;
}
.skillsList {
  text-align: left;
}

/* EDUCATION SECTION */
#educationSection {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

/* PROJECT SECTION */
#projectsSection {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #ebeeee;
}

/* BLOG SECTION */
#blogSection {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #ebeeee;
}

/* WORK EXPERIENCE SECTION */
#workExpSection {
  padding-top: 2em;
  padding-bottom: 2em;

}

/* CONTACT SECTION */
#contactMeSection {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #ebeeee;
}

#contacts {
  padding-top: 1.5em;
  /* justify-content: center;
  justify-items: center;
  align-items: center; */
}
/* #email{
  float: left;
}
#linkedIn{
  float: left;
} */

#returnToTop {
  padding-top: 3.5em;
  background-color: #ff014f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#returnToTop:hover {
  background-color: #e20045;
}
