#entirePage {
  background-color: #f6f6f6;
  overflow: auto;
  /* height: 100%; */
  /* width: 100%; */
}
/* NAV BAR */
#navBar {
  position: fixed;
  /* background-color: white; */
}
#menuListItems {
  text-decoration: none;
  color: #3c3e41;
}
#menuListItems:hover {
  text-decoration: underline;
}

/* About Me Section */
#introduce {
  color: #3c3e41;
  font-weight: bold;
  /* position: relative; */
  text-align: center;
}
#about {
  padding-top: 8em;
  padding-left: 12em;
  padding-bottom: 3em;
}
#leftSide {
  width: 50%;
  float: left;
}
#myNameDiv {
  padding-top: 2em;
}

#name {
  color: #ff014f;
}
#myTitleDiv {
  padding-top: 1em;
  padding-bottom: 1em;
}
#a {
  float: left;
}

#textAnimation {
  float: left;
  padding-left: 0.5em;
  padding-bottom: 1em;
  position: static;
}
#textAnimationText {
  position: static;
}
#summary {
  padding-top: 2em;
}
/* #halfshot { */
/* float: left; */
/* position: relative; */
/* height: 100%; */
/* top: 6em;
  right: 12em; */
/* } */

/* SKILLS SECTION */
#skillsSection {
  padding-top: 2.5em;
  text-align: center;
}
#skillsList {
  text-align: left;
}

/* EDUCATION SECTION */
#educationSection {
  padding-top: 5em;
  padding-bottom: 1em;
  text-align: center;
}
#timeLineItem{
  position: static;
}
#timeLineContent {
  position: static;
}
#timeLineContentItem {
  position: static !important;
}

/* PROJECT SECTION */
#projects {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 12em;
  padding-right: 12em;
  text-align: center;
  background-color: #ebeeee;
}
/* projectCards */
#languages {
  text-align: left;
  padding-top: 1em;
}
#showcase {
  text-align: left;
}
#github {
  float: left;
}

#demo {
  float: right;
}
/* BLOG SECTION */
#blogs {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 12em;
  padding-right: 12em;
  text-align: center;
  background-color: #ebeeee;
}
#blogLinkButton {
  position: static;
}
#otherBlogsLink {
  position: static;
}

/* WORK EXPERIENCE SECTION */
#workexperience {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* CONTACT SECTION */
#contactinfo {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #ebeeee;
}

#contacts {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  justify-content: center;
  justify-items: center;
  display: flex;
}
.contactIcon {
  float: left;
  padding-left: 1em;
  color: white;
}

#returnToTop {
  padding-top: 3.5em;
  background-color: #ff014f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
}
#returnToTop:hover {
  background-color: #e20045;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* MOBILE FRIENDLY CSS */
@media (max-width: 1000px) {
  #entirePage {
    background-color: #f6f6f6;
    width: 100vw;
  }
  #navBar {
    display: block;
    width: "100vw";
  }
  #resumeLink {
    font-size: 0.6em;
  }

  /* About Me Section */
  #introduce {
    color: #3c3e41;
    font-weight: bold;
    /* position: relative; */
    text-align: center;
    font-size: 0.7em;
  }
  #about {
    padding-top: 4.5em;
    padding-left: 2em;
    /* padding-bottom: 1em; */
  }
  #leftSide {
    width: 50%;
    float: left;
  }
  #myNameDiv {
    padding-top: 0.8em;
  }
  #hiImKev {
    font-size: 0.8em;
  }

  #name {
    color: #ff014f;
  }
  #myTitleDiv {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 0.4em;
  }
  #a {
    float: left;
  }
  #aLetter {
    font-size: 2em;
  }

  #textAnimation {
    float: left;
    padding-left: 0.5em;
    padding-bottom: 1em;
    font-size: 1em;
    position: static;
  }
  #textAnimationText {
    position: static;
  }
  #summary {
    padding-top: 0.5em;
  }
  #summaryText {
    font-size: 0.6em;
  }
  #profilePicDiv {
    width: 50%;
    float: right;
    justify-content: center;
  }
  #halfshot {
    height: 90%;
    width: 90%;
  }

  /* SKILLS SECTION */
  #skillsSection {
    padding-top: 0.4em;
    text-align: center;
  }
  #sectionHeader {
    font-size: 0.75em;
  }
  #languageHeader {
    font-size: 0.6em;
    /* padding-top: 0.05em; */
  }
  #languages {
    text-align: left;
    padding-top: 0.6em;
  }

  #conceptHeader {
    font-size: 0.6em;
  }

  #skillsList {
    text-align: left;
    font-size: 0.6em;
  }

  /* EDUCATION SECTION */
  #educationSection {
    padding-top: 23.5em;
    padding-bottom: 1em;
    text-align: center;
  }
  #sectionHeader {
    font-size: 0.6em;
  }
  /* EDUCATION && WORK EXPERIENCE TIMELINE*/
  #timeLine {
    font-size: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.01em;
  }
  #timeLineItem{
    position: static;
  }
  #timeLineContent {
    padding-top: 0%;
    /* position: static; */
  }
  #timeLineContentHeader {
    font-size: 0.5em;
    line-height: 60%;
  }
  #timeLineContentItem {
    font-size: 0.5em;
    /* position: static !important; */
  }
  #timeLineIcon {
    font-size: 0.8em;
  }

  /* PROJECT SECTION */
  #projects {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;
    background-color: #ebeeee;
  }
  #projectContentContainer {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-size: 0.4em;
  }

  /* projectCards */
  #cardContent {
    font-size: 1em;
  }
  #languages {
    text-align: left;
    padding-top: 1em;
  }
  #showcase {
    text-align: left;
    /* font-size: 1em; */
  }
  #linkButton {
    font-size: 1em;
    justify-content: left;
  }
  #github {
    float: left;
    padding: 0%;
  }

  #demo {
    float: left;
    padding: 0%;
    /* font-size: .9em; */
  }
  /* BLOG SECTION */
  #blogs {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-align: center;
    background-color: #ebeeee;
  }
  #blogcontentContainer {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 0.1em;
    font-size: 0.5em;
  }
  #sectionSubHeader {
    text-align: center;
    font-size: 0.6em;
  }
  #cardMedia {
    height: 12em;
  }
  #cardContentDiv {
    /* padding-bottom: 3.5em; */
  }
  #cardAction {
    padding-top: 0%;
  }
  #blogLinkButton {
    padding: 0%;
    font-size: 1em;
    position: static;
  }
  #otherBlogsLink {
    font-size: 0.5em;
    position: static;
  }

  /* WORK EXPERIENCE SECTION */
  #workexperience {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  /* CONTACT SECTION */

  #contactinfo {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #ebeeee;
  }
  #contactHeader {
    color: #3c3e41;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 0.7em;
  }
  #contactSubHeader {
    text-align: center;
    font-size: 0.6em;
  }

  #contacts {
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
    justify-items: center;
    display: flex;
  }
  .contactIcon {
    float: left;
    padding-left: 0.5em;
    color: white;
  }
  #icon {
    font-size: 2em;
  }
  #return {
    font-size: 1.5em;
  }
}
