#entirePage {
  background-color: #f6f6f6;
  /* height: 100%; */
}
/* About Me Section */
#introduce {
  color: #3c3e41;
  font-weight: bold;
  position: relative;
  text-align: center;
}
#about {
  padding-top: 8em;
  padding-left: 12em;
  padding-bottom: 3em;

}
#leftSide{
  width: 50%;
  float: left;
}
#hi {
  float: left;
}
#name {
  float: left;
  padding-left: 0.3em;
}
#a {
  float: left;
  /* align-self: end; */
}

#textAnimation {
  float: left;
  padding-left: 0.5em;
}
#halfshot {
  /* float: left; */
  /* position: relative; */
  /* height: 100%; */
  /* top: 6em;
  right: 12em; */
}

/* SKILLS SECTION */
#skillsSection {
  padding-top: 2.5em;
  text-align: center;
}
.skillsList {
  text-align: left;
}

/* EDUCATION SECTION */
#educationSection {
  padding-top: 5em;
  padding-bottom: 1em;
  text-align: center;
}

/* PROJECT SECTION */
#projectsSection {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #ebeeee;
}

/* BLOG SECTION */
#blogSection {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 12em;
  padding-right: 12em;
  text-align: center;
  background-color: #ebeeee;
}
#blogLink {
  text-decoration: none;
}
#blogLink:hover {
  color: white;
}

/* WORK EXPERIENCE SECTION */
#workExpSection {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* CONTACT SECTION */
#contactMeSection {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #ebeeee;
}

#contacts {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  justify-content: center;
  justify-items: center;
  display: flex;
}
.contactIcon {
  float: left;
  padding-left: 1em;
  color: white ;
}

#returnToTop {
  padding-top: 3.5em;
  background-color: #ff014f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
}
#returnToTop:hover {
  background-color: #e20045;
}
